#page-content {
    padding: 10px 5px 1px;
    background-color: #eaedf1;
}
.block {
    margin: 0 0 10px;
    padding: 20px 15px 1px;
    background-color: #ffffff;
    border: 1px solid #dbe1e8;
}
.block-title {
    margin: -20px -15px 20px;
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
}
.block-title .nav-tabs {
    margin-bottom: -2px;
}
.block-title .nav-tabs {
    padding: 3px 1px 0;
    border-bottom: none;
}
.block-title .nav-tabs, .block-options {
    min-height: 40px;
    line-height: 38px;
}
.nav-tabs {
    border-bottom-color: #eaedf1;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.active{
    background-color: white;
  
}
.active a{
    color: black;
}
.myClickableThingy {
    cursor: pointer;
}
.hidebloc{
    display: none;
  }